<div class="mt-5 p-5">
  <div class="d-flex justify-content-center align-items-center">
    <img src="/images/job_not_found.png" style="width: 30%" />
    <% if(jobNotFound){ %>
    <h1 class="fw-bolder text-danger">JOB DELETED OR NOT FOUND</h1>
    <% } %> <% if(userNotFound){ %>
    <h1 class="fw-bolder text-danger">INVALID CREDENTIALS</h1>
    <% } %>
  </div>
</div>
